<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eli.filemanager"
    android:versionCode="17"
    android:versionName="2.5" >

    <uses-sdk android:minSdkVersion="8" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.BLUETOOTH" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE"/>
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".UpdateActivity"
            android:configChanges="locale|keyboardHidden|orientation"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ListActivity"
            android:configChanges="locale|keyboardHidden|orientation"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.LISTACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SearchActivity"
            android:configChanges="locale|keyboardHidden|orientation" >
            <intent-filter>
                <action android:name="com.eli.filemanager.SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingActivity"
            android:configChanges="locale|keyboardHidden|orientation" >
            <intent-filter>
                <action android:name="com.eli.filemanager.SETTING" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ListSearchActivity"
            android:configChanges="keyboardHidden|orientation" >
            <intent-filter>
                <action android:name="com.eli.filemanager.LISTSEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HistoryActivity"
            android:configChanges="keyboardHidden|orientation" >
            <intent-filter>
                <action android:name="com.eli.filemanager.HISTORY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LANActivity"
            android:configChanges="keyboardHidden|orientation" >
            <intent-filter>
                <action android:name="com.eli.filemanager.LANActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".FtpClientActivity" >
            <intent-filter>
                <action android:name="com.eli.filemanager.FtpClientActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".BluetoothActivity" >
            <intent-filter>
                <action android:name="com.eli.filemanager.BluetoothActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="com.eli.filemanager.MainActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".MyUploadActivity" >
            <intent-filter>
                <action android:name="com.eli.filemanager.MyUploadActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".MyDownloadActivity" >
            <intent-filter>
                <action android:name="com.eli.filemanager.MyDownloadActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".MyFilesActivity" >
            <intent-filter>
                <action android:name="com.eli.filemanager.MyFilesActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="ftp.action.LogoutActivity" >
            <intent-filter>
                <action android:name="com.eli.filemanager.ftp.action.LogoutActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity2" >
            <intent-filter>
                <action android:name="com.eli.filemanager.MainActivity2" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".AddHostActivity" />
        	<intent-filter>
                <action android:name="com.eli.filemanager.AddHostActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        <activity android:name=".EditHostActivity" >
            <intent-filter>
                <action android:name="com.eli.filemanager.EditHostActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>        
        <activity android:name=".DownloadActivity" >
            <intent-filter>
                <action android:name="com.eli.filemanager.DownloadActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".UploadActivity" >
            <intent-filter>
                <action android:name="com.eli.filemanager.UploadActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>